<!-- head -->
<%- include('./partials/head') %>

<!-- navbar -->
<%- include('./partials/navbar') %>

<!-- main -->
<main>
    <h1>Favorieten lijst</h1>
    <h2 class="favorite-title"><%= lists.title %></h2>
    <p class="favorite-description"><%= lists.description %></p>
    <section class="member-section">
        <h3>Groeps leden</h3>
        <ul class="member-list">
            <li>
                <div class="profile-container">
                    <img src="/assets/Mohammed.png" alt="profile-img">
                </div>
                <p>Mohammed</p>
            </li>
            <li><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><path d="M36.5 22.5h-11v-11A1.5 1.5 0 0024 10a1.5 1.5 0 00-1.5 1.5v11h-11a1.5 1.5 0 000 3h11v11A1.5 1.5 0 0024 38a1.5 1.5 0 001.5-1.5v-11h11a1.5 1.5 0 000-3z" fill="#0071B3"></path></svg></li>
        </ul>
    </section>

    <div class="search-bar">
        <input type="search" placeholder="zoek naar huis in lijst...">
        <button type="button" class="btn-primary" type="button">Zoek</button>
    </div>

    <div class="sort-add-section">
        <select>
            <option disabled selected>Sorteren</option>
            <option>Bewaardatum</option>
            <option>Bewaardatum</option>
            <option>Objectscore</option>
            <option>Datum</option>
            <option>Plaats</option>
            <option>Postcode</option>
            <option>Adres</option>
            <option>Vraagprijs</option>
            <option>Huurprijs</option>
            <option>Gebruiksopp.</option>
            <option>Perceelopp.</option>
            <option>Kamers</option>
        </select>
        <button class="btn-secondary" type="button"><i class="fa-solid fa-plus"></i> Voeg huis toe</button>
    </div>

    <div class="house-section">
        <ul class="house-list">
            <% houses.forEach(house => { %>
            <li>
                <div class="col">
                    <div class="image-container">
                        <p class="new-badge">Nieuw</p>
                        <img src="https://fdnd-agency.directus.app/assets/<%= house.poster_image %>" alt="huis-img">
                    </div>
                </div>
                <section class="col">
                    <div class="title-row">
                        <h2 class="street"><a href="#"><%= house.street %></a></h2>
                        <button type="button" class="btn-remove"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><path d="M26.12 24l10.61-10.61a1.5 1.5 0 000-2.12 1.5 1.5 0 00-2.12 0L24 21.88 13.39 11.27a1.5 1.5 0 10-2.12 2.12L21.88 24 11.27 34.61a1.5 1.5 0 102.12 2.12L24 26.12l10.61 10.61a1.5 1.5 0 002.12 0 1.5 1.5 0 000-2.12z" fill="#666666"></path></svg></button>
                    </div>
                    <p><%= house.postal_code + house.city %></p>
                    <p class="price">€ <%= house.price %> k.k.</p>
                    <p><%= house.m2 + "m² / " + house.m2_garden + "m² / " + house.rooms + " kamers" %></p>
                    <p class="agent"><%= house.agent !== null && house.agent !== "" ? house.agent : "geen makelaar" %></p>
                    <ul class="rating-list">
                        <li class="star active"></li>
                        <li class="star active"></li>
                        <li class="star active"></li>
                        <li class="star"></li>
                        <li class="star"></li>
                    </ul>
                </section>
            </li>
            <%  }) %>
        </ul>
    </div>
</main>

<%- include('./partials/foot') %>