<!-- head -->
<%- include('./partials/head') %>

<!-- navbar -->
<%- include('./partials/navbar') %>

<!-- main -->
<main>
    <h1>Alle huizen</h1>

    <div class="search-bar">
        <input type="search" placeholder="zoek naar huis in lijst...">
        <button type="button" class="btn-primary" type="button">Zoek</button>
    </div>

    <div class="sort-section">
        <select>
            <option disabled selected>Sorteren</option>
            <option>Bewaardatum</option>
            <option>Bewaardatum</option>
            <option>Objectscore</option>
            <option>Datum</option>
            <option>Plaats</option>
            <option>Postcode</option>
            <option>Adres</option>
            <option>Vraagprijs</option>
            <option>Huurprijs</option>
            <option>Gebruiksopp.</option>
            <option>Perceelopp.</option>
            <option>Kamers</option>
        </select>
    </div>

    <div class="house-section">
        <ul class="house-list">
            <% houses.forEach(house => { %>
            <li>
                <div class="col">
                    <div class="image-container">
                        <p class="new-badge">Nieuw</p>
                        <img src="https://fdnd-agency.directus.app/assets/<%= house.poster_image %>" alt="huis-img">
                    </div>
                </div>
                <section class="col">
                    <div class="title-row">
                        <h2 class="street"><a href="#"><%= house.street %></a></h2>
                        <button type="button" class="btn-remove"></button>
                    </div>
                    <p><%= house.postal_code + house.city %></p>
                    <p class="price">€ <%= house.price %> k.k.</p>
                    <p><%= house.m2 + "m² / " + house.m2_garden + "m² / " + house.rooms + " kamers" %></p>
                    <p class="agent"><%= house.agent !== null && house.agent !== "" ? house.agent : "geen makelaar" %></p>
                    <ul class="rating-list">
                        <li class="star active"></li>
                        <li class="star active"></li>
                        <li class="star active"></li>
                        <li class="star"></li>
                        <li class="star"></li>
                    </ul>
                    <button type="button" class="btn-secondary">Bewaren</button>
                </section>
            </li>
            <%  }) %>
        </ul>
    </div>
</main>

<%- include('./partials/foot') %>