<%- include('./partials/head') %>

<header>
    <nav>
        <ul class="navbar-list">
            <li><img src="/assets/fundawonen-logo.svg" alt="funda-logo"></li>
            <li>
                <ul class="navbar-section">
                    <li><i class="fa-solid fa-house"></i> Mijn huis</li>
                    <li><i class="fa-regular fa-circle-user"></i>Naam</li>
                    <li><i class="fa-solid fa-bars"></i> Menu</li>
                </ul>
            </li>
        </ul>
    </nav>
</header>

<main>
    <h1>Favoriete huizen</h1>
    <section class="member-section">
        <h3>Leden</h3>
        <ul class="member-list">
            <li>
                <div class="profile-container">
                    <!-- <img src="#" alt="profile-img"> -->
                </div>
                <p>Naam</p>
            </li>
            <li><i class="fa-solid fa-plus"></i></li>
        </ul>
    </section>

    <div class="search-bar">
        <input type="search" placeholder="zoek naar huis in lijst...">
        <button class="btn-primary" type="button">Zoek</button>
    </div>

    <hr>

    <div class="sort-add-section">
        <select>
            <option disabled selected>Sorteren</option>
            <option>Bewaardatum</option>
            <option>Bewaardatum</option>
            <option>Objectscore</option>
            <option>Datum</option>
            <option>Plaats</option>
            <option>Postcode</option>
            <option>Adres</option>
            <option>Vraagprijs</option>
            <option>Huurprijs</option>
            <option>Gebruiksopp.</option>
            <option>Perceelopp.</option>
            <option>Kamers</option>
        </select>
        <button class="btn-secondary" type="button"><i class="fa-solid fa-plus"></i> Voeg huis toe</button>
    </div>

    <div class="house-section">
        <ul class="house-list">
            <% houses.forEach(house => { %>
            <li>
                <div class="col">
                    <div class="image-container">
                        <p class="new-badge">Nieuw</p>
                        <img src="https://fdnd-agency.directus.app/assets/<%= house.poster_image %>" alt="huis-img">
                    </div>
                </div>
                <section class="col">
                    <h2 class="street"><a href="#"><%= house.street %></a></h2>
                    <p><%= house.postal_code + house.city %></p>
                    <p class="price">€ <%= house.price %> k.k.</p>
                    <p><%= house.m2 + "m² / " + house.m2_garden + "m² / " + house.rooms + " kamers" %></p>
                    <p class="agent"><%= house.agent %></p>
                    <ul class="rating-list">
                        <li class="active"><i class="fa-solid fa-star"></i></li>
                        <li class="active"><i class="fa-solid fa-star"></i></li>
                        <li class="active"><i class="fa-solid fa-star"></i></li>
                        <li><i class="fa-solid fa-star"></i></li>
                        <li><i class="fa-solid fa-star"></i></li>
                    </ul>
                    <p>Toegevoegd aan favorieten:</p>
                    <ul class="member-liked-list">
                        <li>
                            <div class="profile-container">
                                <!-- <img src="#" alt="profile-img"> -->
                            </div>
                            <p>Naam</p>
                        </li>
                    </ul>
                    <button class="btn-secondary">Verwijder</button>
                </section>
            </li>
            <%  }) %>
        </ul>
    </div>
</main>

<%- include('./partials/foot') %>